<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Synchronous Code</title>
  <link rel="stylesheet" href="../style/custom.css">
  <link rel="stylesheet" href="../style/coral.min.css">
  <script src="../style/coral.min.js" data-coral-icons="../style/resources"></script>
</head>

<body class="coral--lightest">
  <div class="content-wrapper">
    <h3>Friendly Helpers</h3>
    <p>
      This extension provides useful features that arent available out of the box.
    </p>
    <div>
      <ul>
        <li>
          <h4>Synchronous Code</h4>
          <p>Code entered into the <b>Custom Code</b> Action of the <b>Core</b> extension by Adobe is either bundled
            directly into the launch library filed, or loaded as a seperate file.
            This depends on the type of action involved.
            There are times, such as e.g. click listeners, where you absolutely want your custom code to be run
            immediately.
            The <b>Synchronous Code</b> Action type provided by this extension lets you write JS code which is directly
            bundled into the launch library and can thus run immediately when the rule is triggered. Always. No
            asynchronicity involved. </p>
        </li>
      </ul>
    </div>
    <hr>
    <div>
      <a href="https://www.feld-m.de/en/">
        <img src="../assets/icon.svg" alt="logo" width="70px">
      </a>
    </div>
    <div>
      This extension is open source: <a href="https://gitlab.com/">code repository</a>
    </div>
    <div>
      Suggestions for new features? email us! <a href="mailto:analytics@feld-m.de">analytics@feld-m.de</a>
    </div>


  </div>

  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script>
    window.extensionBridge.register({
      init: function (info) {
        // Populate view with info.settings which will exist if the user is editing something that was previously saved.
      },
      getSettings: function () {
        // Return user-provided settings.
        return {}
      },
      validate: function () {
        // Return whether the view is valid.
        return true
      }
    });
  </script>
</body>

</html>